.register {
  display: grid;
  justify-items: center;
  gap: 30px;

  padding: 12px;

  max-width: 250px;
}

.register__title {
  font-family: var(--font-bold);
  font-size: 2rem;

  color: #47A992;
}