.messageCard {
  display: grid;
  gap: 5px;

  padding: 10px;
  border-radius: 6px;
  height: max-content;
  max-width: max-content;

  text-align: justify;
}

.title {
  font-family: var(--font-semibold);
  text-transform: capitalize;
}

.text {
  max-width: 470px;
}

.time {
  justify-self: end;
  color: white;
  font-size: 0.75rem;
}

.interlocutor {
  background-color: #A69F98;
}

.user {
  background-color: #8C6057;
}