.wrapper {
  display: grid;
  gap: 10px;

  height: max-content;
  
  padding: 0 15px;

  overflow-y: scroll;
  max-height: calc(100vh - 180px);
  scrollbar-color: #47A992 #DDE6ED;
  scrollbar-width: thin;
}

.user {
  justify-self: end;
}