.form {
  display: grid;
  grid-auto-flow: column;
  position: relative;
  padding: 6px;
  border-bottom: 3px solid #DDE6ED;
}

.input {
  font-family: var(--font-regular);
  font-size: 1.1rem;
  width: 100%;
}

.input:focus {
  outline: none;
}

.button {
  width: 30px;
  height: 100%;

  background-image: url('./search.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
