.form {
  display: grid;
  justify-items: center;
  gap: 30px;
}

.form__footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  min-width: 100%;
}