.inputForm__container {
  position: relative;
}

.inputForm__input {
  border-bottom: solid 1px #65647C;
  padding: 8px 4px;
  width: 100%;

  position: relative;
  z-index: 1;

  font-family: var(--font-regular);
  font-size: 1.3rem;
}

.inputForm__input:focus {
  outline: none;
}

.inputForm__label {
  position: absolute;

  top: 0;
  left: 0;

  font-size: 1.3rem;
  line-height: 2.8rem;
  color: #65647C;

  transition: 0.2s;
}

.inputForm__input:focus ~ .inputForm__label,
.inputForm__input:valid ~ .inputForm__label {
  transform: translate(-12%, -60%) scale(0.75);
}